[Unit]
Description=Auto Arch Installer
After=multi-user.target

[Service]
Type=simple
ExecStart=/root/install.sh
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=tty
Restart=no

[Install]
WantedBy=multi-user.target